# Python 编译文件
*.pyc
__pycache__/

#打包文件
*.spec
build/
dist/

# 构建时生成的日期版本文件
build_info.py

# 构建产物目录
release_windows/
release_linux/
unlock/
# 压缩包和可执行文件
*.zip
GMStools.exe

#新功能文件
build_all_platforms-onedir.py
build_all_platforms-onefile.py
git.txt
.gitignore

# 刷镜像日志
logs/